<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>
	<configSections>
		<section name="Section1" type="ConfigurationSettings"/>
		<section name="StranglyNamedSection1" type="ConfigurationSettings"/>
		<section name="CustomConnectionStrings" type="ConnectionStrings"/>
	</configSections>
	<connectionStrings>
		<add name="x y.z" connectionString=""/>
	</connectionStrings>
	<appSettings>
		<add key="test1" value="12345"/>
		<add key="test2" value="ZZZZZz"/>
		<add key="test3" value="0.215478"/>
		<add key="test4" value="01/01/2024"/>
		<add key="test5" value="c:\temp\"/>
		<add key="test6" value=""/>
		<add key="test 7" value=""/>
	</appSettings>
	<Section1>
		<add key="Test1" value="XYX"/>
	</Section1>
	<StranglyNamedSection1>
		<add key="strange1" value="X"/>
	</StranglyNamedSection1>
	<CustomConnectionStrings>
		<add name="Custom1" value="al;sdkfja;lsdkfja;sldkfja;sdlfkj"/>
	</CustomConnectionStrings>
</configuration>
